
.spch {
font: 100;
font-style: normal;
font-family: serif;
color: black;
font-size: 15px;
}
.name {
font: 100;
font-style: italic;
font-family: Arial, Helvetica, sans-serif;
color: black;
font-size: 15px;

}
.song {
  font: 100;
  font-style: normal;
  font-family: serif;
  color: black;
  font-size: 15px;
  }
.dir {
color:black;
background-color:beige;
font-style: inherit;
font-family:Georgia, 'Times New Roman', Times, serif;
color:lightpink;
font-size: 15px;
}

.dir:hover {
  color:cyan;
    background-color:cadetblue;
  }

  .name:hover {
    color:rgb(255, 234, 0);
    background-color:rgba(105, 96, 56, 0.931);
    text-shadow: 4px 4px 4px rgb(208, 200, 119);
    border : 1 px solid black;
    filter:blur(1px);
  }


.All{

    color:rgb(4, 252, 29);
    font-style: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.SAMUEL{

    color:rgb(45, 5, 250);
    font-style: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.RUTH{
    color:deeppink;
    font-style: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.singers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 50%;

}

.singers td, .singers th {
  border: 1px solid  cornflowerblue(255, 0, 0);
  padding: 8px;
}

.singers tr:nth-child(even){background-color: rgb(238, 247, 176);}

.singers tr:hover {background-color: rgb(153, 237, 246);}

table th,
td {
    border: 3px solid;


}

tr:nth-child(odd) {
    background-color:rgb(218, 245, 110);
}

td {
    text-align: center;

}

th,
td {
    padding: 20px;
    text-align: center;
}

th {
    background-color:rgb(234, 255, 0);
    color: black
 
}


