
.spch {
font: 100;
font-style: normal;
font-family: serif;
color: black;
font-size: 15px;
}
.name {
font: 100;
font-style: italic;
font-family: Arial, Helvetica, sans-serif;
color: black;
font-size: 15px;

}
.sng {
  font: 100;
  font-style: normal;
  font-family: serif;
  color: black;
  font-size: 15px;
  }
.dir {
color:black;
background-color:beige;
font-style: inherit;
font-family:Georgia, 'Times New Roman', Times, serif;
color:lightpink;
font-size: 15px;
}

.dir:hover {
  color:cyan;
    background-color:cadetblue;
  }

  .name:hover {
    color:rgb(255, 234, 0);
    background-color:darkgrey;
    text-shadow: 4px 4px 4px rgb(255, 234, 0);
    border : 1 px solid black;
  }


.All{

    color:cornflowerblue;
    font-style: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.SAMUEL{

    color:darkgoldenrod;
    font-style: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.RUTH{
    color:deeppink;
    font-style: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
 

  
  